DB_USERNAME=postgres
DB_PASSWORD=change_me
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
JWT_SECRET=
INTERNAL_API_KEY=
BOT_TOKEN=
DB_HOST=postgres
REDIS_PASSWORD=change_me
APP_BASE_URL=http://kat-backend:8080
BOT_OWNER_ID=
ENCRYPTION_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_FRONTEND_URL=http://localhost:3000

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_NOTIFICATION_URL=https://api.tudominio.com/payment/webhook
MERCADOPAGO_CURRENCY_ID=USD
